

*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}

header{
	background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../wallpaper.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

body{
	background-color: #000000;
}

.spacer{
	margin: 15px;
}

ul{
	/*float: right;*/
	position: absolute;
	right: 5%;
	list-style-type: none;
	margin-top: 25px;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}

ul li a:hover{
	background-color: #fff;
	color: #000;
}

ul li.active a{
	background-color: #fff;
	color: #000;
}

.logo img{
	position: absolute;
	left: 5%;
	width: 100px;
	height: 100px;

}

.main{
	max-width: 1200px;
	margin: auto;
}

.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.title h1{
	color: #fff;
	font-size: 70px;

}

.title p{
	color: #fff;
	font-size: 35px;

}

.button{
	position: absolute;
	top: 62%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.social_media{
	position: absolute;
	top: 95%;
	left: 8%;
	transform: translate(-50%, -50%);
}

.social_media img{
	width: 45px;
	height: 45px;
}

.btn{
	border: 1px solid #fff;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
	transition: 0.6s ease;
}

.btn:hover{
	background-color: #fff;
	color: #000;
}


.title img{
	width: 120px;
	height: 120px;
	position: relative;
	left: 44%;
}

.contact_info h1{
	text-align: center;
}


/* Added these for sample API styling */

#root {
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 1rem;
  border: 1px solid gray;
}

@media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .card {
    flex: 1 1 calc(33% - 2rem);
  }
}